.container {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  background: transparent;
  border: none;
  font-size: medium;
  font-color: #171616;
}
.hamburger-icon span {
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
  font-size: large;
}
.hamburger-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  color: #112;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 200px;
  z-index: 100;
}
.dropdown-option {
  padding: 15px 16px;
  border: solid rgb(132, 129, 129);
  background: none;
  cursor: pointer;
  text-align: center;
}
